<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家族間タスク管理アプリケーション</title>
    <link th:href="@{/task.css}" rel="stylesheet">
</head>
<body>
<h1>家族間タスク管理アプリケーション</h1>
<div class="header">
    <span style="font-weight: bold;">ユーザー名:</span>
    <a href="users.html" th:href="@{/task/users}"><span th:text="${username}"></span></a>
</div>
<div class="task_form">
    <h2>タスク登録</h2>
    <form th:action="@{/task}" method="post">
        <label>頼む人</label>
        <select name="client">
            <option th:each="user : ${username}" th:value="${username}" th:text="${username}"></option>
        </select>
        <label>頼まれた人</label>
        <select name="contractor">
            <option th:each="user : ${usernames}" th:value="${user}" th:text="${user}"></option>
        </select>
        <label>タスク</label>
        <input name="task" type="text"/>
        <label>期限</label>
        <input name="deadline" type="date"/>
        <input type="submit" value="登録"/>
    </form>
</div>

<div class="tasklist">
    <h2>現在のタスク一覧</h2>
    <table border="1" style="border-collapse:collapse;">
        <thead>
        <tr>
            <th class="hidden">ID</th>
            <th width="50px">頼む人</th>
            <th width="50px">頼まれた人</th>
            <th>タスク</th>
            <th width="100px">期限</th>
            <th width="100px">状態</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${taskList}">
            <td class="hidden" th:text="${task.taskId}"></td>
            <td th:text="${task.client}"></td>
            <td th:text="${task.contractor}"></td>
            <td th:text="${task.task}"></td>
            <td width="100px" th:text="${task.deadline}"></td>
            <td width="50px" th:text="${task.done} ? '完了' : '未完了'"></td>
            <td width="50px">
                <button type="button" id="update_button" onclick="
    let row = this.parentElement.parentElement;
    let taskId = row.cells[0].textContent.trim(); 
    document.getElementById('update_taskId').value = taskId;
    document.getElementById('update_client').value = row.cells[1].textContent.trim();
    document.getElementById('update_contractor_select').value = row.cells[2].textContent.trim();
    document.getElementById('update_task').value = row.cells[3].textContent.trim();
    document.getElementById('update_deadline').value = row.cells[4].textContent.trim();
    document.getElementById('update_status').selectedIndex = (row.cells[5].textContent.trim() === '完了') ? 1 : 0;
　  var dialog = document.getElementById('updateDialog');
    dialog.style.left = ((window.innerWidth - 500) / 2) + 'px';
    dialog.style.display = 'block';
">更新
                </button>
            </td>
            <td width="50px">
                <form th:action="@{/task/{taskId}(taskId=${task.taskId})}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" id="delete_button">削除</button>
                </form>
            </td>
            <td width="50px">
                <div th:if="${task.done}">
                    <form th:action="@{/task/{taskId}/complete(taskId=${task.taskId})}" method="post"
                          style="display:inline;">
                        <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button type="submit">完了</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="completed-tasks">
    <h2>作業完了タスク一覧</h2>
    <table border="1" style="border-collapse:collapse;">
        <thead>
        <tr>
            <th class="hidden">ID</th>
            <th width="50px">頼む人</th>
            <th width="50px">頼まれた人</th>
            <th>タスク</th>
            <th width="100px">期限</th>
            <th width="150px">完了日時</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task:${completedTask}">
            <td class="hidden" th:text="${task.taskId}"></td>
            <td th:text="${task.client}"></td>
            <td th:text="${task.contractor}"></td>
            <td th:text="${task.task}"></td>
            <td width="80px" th:text="${task.deadline}"></td>
            <td th:text="${#temporals.format(task.completedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td width="50px">
                <form th:action="@{/task/{taskId}/completedTask(taskId=${task.taskId})}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                    <button type="submit">完了</button>
                </form>
            </td>
            <td width="70px">
                <form th:action="@{/task/{taskId}/notCompletedTask(taskId=${task.taskId})}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                    <button type="submit">未完了</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="updateDialog" style="display:none;">
    <div class="task_form">
        <h2>タスクの更新</h2>
        <form th:action="@{/task/update}" method="post">
            <input type="hidden" name="_method" value="patch"/>
            <input id="update_taskId" name="taskId" type="hidden"/>
            <label>頼む人</label>
            <select id="update_client" name="client">
                <option th:each="user : ${username}" th:value="${username}" th:text="${username}"></option>
            </select>
            <label>頼まれた人</label>
            <select id="update_contractor_select" name="contractor">
                <option th:each="user : ${usernames}" th:value="${user}" th:text="${user}"></option>
            </select>
            <label>タスク</label>
            <input id="update_task" name="task" type="text"/>
            <label>期限</label>
            <input id="update_deadline" name="deadline" type="date"/>
            <label>状態</label>
            <select id="update_status" name="done">
                <option value="false">未完了</option>
                <option value="true">完了</option>
            </select>
            <div>
                <button type="submit">更新</button>
                <button type="reset"
                        onclick="document.getElementById('updateDialog').style.display='none';">
                    キャンセル
                </button>
            </div>
        </form>
    </div>
</div>
<div class="nav_f">
    <a href="logout.html" th:href="@{/logout}">ログアウト</a>
</div>
</body>
</html>
